* {margin:0; 
padding: 0;
box-sizing: border-box;
}

h1{color: white;}

h2{text-align: center;}

ul li{list-style-type: none;
display: inline-block;
text-align: center;}

ul li a{color: white;
padding: 20px;
display: block;
text-decoration: none;}

.letras-blancas {color: white;}

.nav{padding: 0px;
width: 90%;
max-width: 1000px;
margin: auto;
display: block;
text-align: center;
text-align: inline-block;}

.imagen-fondo {background-image:url(../img/resident-evil-4-remake.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;
background-color: black;}

.home{display: flex;
flex-wrap: wrap;}

.in-flex{flex: 1;
padding: 25px;
min-width: 250px;}

.in-flex first-child{
flex: 2;
padding: 25px;
margin: 20px;
margin-bottom: 0px;}

.in-flex div{
padding: 25px;
margin: 20px;
text-align: center;}